<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a><!--Nos permite mostrar las dos rutas que tenemos para destinos-->
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<!--
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail><!--Podemos hacer referencia al componente
hero-detail con el selector "app-hero-detail" para mandar llamar a la funcion selectedHero del componente
hero-detail-->
